anyio==3.6.1
certifi==2022.12.7
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
Flask==2.1.3
Flask-Executor==0.10.0
Flask-Login==0.6.1
Flask-WTF==1.0.1
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.12.0
is-safe-url==1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.21.6
pandas==1.3.5
pgeocode==0.3.0
phonenumbers==8.12.52
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
typing_extensions==4.3.0
urllib3==1.26.10
Werkzeug==2.2.3
WTForms==3.0.1
xmltodict==0.13.0
zipp==3.8.1
