anyio==3.6.1
async-generator==1.10
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.0.4
contextvars==2.4
dataclasses==0.8; python_version < '3.7'
Flask==2.0.3
Flask-Executor==0.10.0
Flask-Login==0.5.0
Flask-WTF==1.0.1
h11==0.12.0
httpcore==0.14.7
httpx==0.23.0
idna==3.3
immutables==0.18
importlib-metadata==4.8.3
is-safe-url==1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pgeocode==0.3.0
phonenumbers==8.12.49
rfc3986==1.5.0
sniffio==1.2.0
typing-extensions==4.1.1
Werkzeug==2.0.3
WTForms==3.0.0
xmltodict==0.13.0
zipp==3.6.0
