anyio==3.4.0
async-generator==1.10
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
contextvars==2.4
dataclasses==0.8; python_version < '3.7'
Flask==2.0.2
Flask-Executor==0.10.0
Flask-Login==0.5.0
Flask-WTF==1.0.0
h11==0.12.0
httpcore==0.14.3
httpx==0.21.1
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
is-safe-url==1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pgeocode==0.3.0
phonenumbers==8.12.40
rfc3986==1.5.0
sniffio==1.2.0
typing-extensions==4.0.1
Werkzeug==2.0.2
WTForms==3.0.0
xmltodict==0.12.0
zipp==3.6.0
