<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <div class="links">
            <a href="{{ url_for('user.login', next=request.args.get('next')) }}" class="active">Login</a>
        </div>
        <form id="login" action="{{ url_for('user.login', next=request.args.get('next')) }}" method="post">
            {{ form.email.label }}
            {{ form.email }}
            {{ form.password.label }}
            {{ form.password }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="msg">
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            {{ form.csrf_token }}
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>