{% extends 'layout.html' %}

{% block title %}Manually Post Ad{% endblock %}

{% block content %}
<h2>Manually Post Ad</h2>
<div>
    <p>Manually post new ad using XML payload file. Payload file must be a valid ad payload otherwise posting will fail.</p>
    <form action="{{ url_for('ad.post_manual') }}" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>{{ form.file.label }}</td>
            <td>{{ form.file }}</td>
        </tr>
    </table>
    {{ form.csrf_token }}
    {{ form.submit }}
    </form>
</div>
{% endblock %}